{%extends 'base.html' %}

{% block body %}
  <h2> Karina's Pets </h2>
  <p> <a href="{{url_for('.add_pet')}}"> Add New Pet</a>

  <form method="POST">
    <input type="text" autofocus="autofocus" name = "search_string">
    <input type="submit" formaction = "/search" value="Search">
  </form>

  {% if pets %}
  <table>
        <thead>
            <tr>

                <th>Pet Name</th>
                <th>Pet Type</th>

            </tr>
        </thead>

        <tbody>
            {% for row in pets %}
            <tr>

                <td> {{ row.petName }}</td>
                <td> {{ row.petType }}</td>

    <td>
      <form action="{{ url_for('pet', petID=row.petID) }}" method="POST">
                 <input type="submit" value="Details" class="btn btn-info" />
               </form>
                    </td>
                      </tr>
            {% endfor %}
            </tbody>
        </table>
{% endif %}
{% endblock %}
